<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Simple File Upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <style>
        input.btn{
            flex: 0.8;
        }
        button.btn{
            flex: 0.15;
        }
        .topSeparator{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .myUploadForm{
            margin-top: 35px;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="topSeparator">Simple File Upload</h1>
